<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ConsumerKey" value="6MC04AkaVzpHgcJcfxedww3ha" />
    <add key="ConsumerSecret" value="cFG7idhJUZxSJ9TVibWOp3M2k4nHSW3RIdNswbaFLZrs7VZqR6" />
    <add key="UserAccessToken" value="984503240262864896-V8zl5I9PbhrYHQMg7OsIH1YPdLeRd1s" />
    <add key="UserAccessSecret" value="AcvRqpVx4BMastwUS8llGbUDqlFymil3hgaaPgBWBfHH4" />
  </appSettings>
</configuration>